@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-size: 13px;
   background-color: hsl(210, 46%, 95%);
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Manrope" ;
   font-weight: 500;
   
}

main{
   width: 390px;

   overflow: hidden;
   border-radius: 10px;
   box-shadow: 1px 1px 10px gray;
   
}

.imagem img{
   width: 100%; /* Alteração aqui para garantir que a imagem ocupe toda a largura */
   height: auto; /* Definindo altura automática para manter a proporção */
   display: flex;
}

.title{
   color:hsl(217, 19%, 35%) ;
   font-weight: 700;
   font-size: 20px;
   letter-spacing: 0.5px;
}

.paragrafo {
   font-size: 1.190em;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.8px;
   color: hsl(214, 17%, 51%);
   
}

.conteiner {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
 border: 10px 10px 10px 10px;
 overflow: hidden;
}

.rodape{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:2em;
   
}



.pessoa {
   display: flex;
   align-items: center;
   gap: 2em;
   
   
}

.nome1 {
   font-weight: 700;
   color:hsl(217, 19%, 35%);
}
.data {
   font-weight: 500;
   color: hsl(214, 17%, 51%) ;
}


.avatar {
   height: 45px;
   border-radius: 50%;
   box-shadow: 2px 2px 15px gray;
}

.share {

 
}



.backshare {
   background-color:  hsl(210, 46%, 88%);
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.backshare2 {
   background-color:  hsl(210, 46%, 88%);
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   display: none;


}







.rodapeback{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:2em;
   background-color:  hsl(217, 19%, 35%);
   
}

.icones {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 2em;
   letter-spacing: 8px;
   color: aqua;
}

.icones img {
   cursor: pointer;
}

.backsharesvg{
   background-color: hsl(214, 17%, 51%);
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
}

footer {
   
}

.backshare-2 {
   display: none;
}


.hidden {
   display: none;
}

@media (min-width: 900px){
   main{
      display: flex;
      width: 900px;
      min-width: 900px;
      max-width: 900px;
      overflow: visible;
   }


   .imagem {
      width: 45%;
     
  }

  .pao {
   width: 55%;
  }
  
  .imagem img {
      width: 100%;
      height: 100%; /* Ocupa toda a altura do contêiner .imagem */
      object-fit: cover; /* Garante que a imagem ocupe todo o espaço do contêiner sem distorcer */
  }




  footer {
   position: relative;

  }

 

  .rodapeback {
   position: absolute;
   width: fit-content;
   border-radius: 20px;
   padding: 15px;
 left: 73%;
 bottom: 90%;

   
  }

  .icones {
   gap: 1em;
   letter-spacing: 2px;
  }

  .icones p {
   margin: 0;
  }

  .backsharesvg {
   display: none;
   
  }

  
.backshare{
   display: none;
}


.backshare2 {
   display: flex;

}


.rodapeback::after{
   content: '';
   width: 20px;
   height: 20px;
   background-color: hsl(217, 19%, 35%);
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
  
 
   
}



}

